.content-box {
  padding: 20px;
  margin: 300px;margin-left: 500px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}
h1 {
  font-size: 60px;
  text-align: center;
}
p,
li {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
}
div:has(> blockquote) {
  background-color: #ededed;
  margin: 10px auto;
  padding: 15px;
  border-radius: 5px;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

blockquote + p {
  text-align: center;
}
.div-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.div-gallery img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}
nav {
  background-color: #333;
  padding: 10px;
  text-align: center;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
nav ul li {
  display: inline;
  margin: 0 15px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
nav ul li a:hover {
  text-decoration: underline;
}
