.content-box {
  padding: 20px;
  margin: 200px;margin-left: 500px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}
h1 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
}
div:has(> blockquote) {
  background-color: #ededed;
  margin: 10px auto;
  padding: 15px;
  border-radius: 5px;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

blockquote + p {
  text-align: center;
}
